# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore Java class files
*.class

# Ignore compiled Java files
*.jar
*.war
*.ear

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore Maven target directory
target/

*.iml
*.ipr
*.iws

log/
logs/
